<div class="flex flex-col items-center justify-center min-h-screen" >

<div class="md:w-[600px] mx-auto p-6 bg-customPurple border border-customRed shadow-lg rounded-xl mt-8 max-h-[500px] min-h-[500px] overflow-y-auto">
    <h1 class="text-3xl font-semibold text-center text-white mb-6">To-Do List</h1>
  
    <!-- Input and Add Task -->
    <div class="flex items-center mb-4">
      <input
        type="text"
        [(ngModel)]="title"
        placeholder="Add a new task"
        class="flex-grow p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <button
        (click)="addTask()"
        class="ml-2 px-4 py-2 bg-customPurple border border-customRed text-white rounded-lg hover:bg-customRed"
      >
        Add
      </button>
    </div>
  
    <!-- Filter Buttons -->
    <div class="mb-4 text-center">
      <button
        (click)="setFilter('all')"
        class="mx-2 px-4 py-2 bg-customPurple border border-customRed text-white rounded-lg hover:bg-customRed"
      >
        All
      </button>
      <button
        (click)="setFilter('active')"
        class="mx-2 px-4 py-2 border border-customRed text-white rounded-lg hover:bg-customRed"
      >
        Active
      </button>
      <button
        (click)="setFilter('completed')"
        class="mx-2 px-4 py-2 border border-customRed text-white rounded-lg hover:bg-customRed"
      >
        Completed
      </button>
    </div>
  
    <!-- Task List -->
    <ul class="space-y-3">
      <li *ngFor="let tasks of filteredTasks()">
        <div class="flex items-center justify-between p-3 bg-customPurple border border-customRed text-white rounded-lg">
          <div class="flex items-center">
            <input
              type="checkbox"
              [checked]="tasks.completed"
              (change)="toggleCompletion(tasks._id)"
              class="mr-2"
            />
            <span [ngClass]="{ 'line-through text-gray-400': tasks.completed }" >{{ tasks.title }}</span>
          </div>
          <button
            (click)="deleteTask(tasks._id)"
            class="ml-3 text-red-500 hover:text-red-700"
          >
            Delete
          </button>
        </div>
      </li>
    </ul>
  </div>
  
  </div>