<div
  class="flex-grow flex items-center justify-center min-h-screen bg-customPurple"
>
  <div
    class="w-full max-w-sm p-4 bg-customPurple border border-customRed rounded-lg shadow sm:p-6"
  >
    <form
      [formGroup]="myForm"
      (ngSubmit)="logSubmit()"
      class="space-y-6"
      action="#"
    >
      <h5 class="text-xl font-medium text-white text-gray-900 dark:text-white">
        Sign in to our platform
      </h5>
      <div>
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-white dark:text-white"
          >Your email</label
        >
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          class="border text-gray-900 text-sm rounded-lg focus:ring-2 focus:ring-customRed block w-full p-2.5 dark:bg-gray-600 dark:border-customRed dark:placeholder-gray-400 dark:text-white"
          placeholder="name@company.com"
          required
        />
        <div
          *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched"
          class="text-red-600 font-bold"
        >
          <small *ngIf="myForm.get('email')?.errors?.['required']"
            >Email is required.</small
          >
          <small *ngIf="myForm.get('email')?.errors?.['email']"
            >Invalid email format.</small
          >
        </div>
        <div *ngIf="errorMessage" class="text-red-600 font-bold">
          <small>{{ errorMessage }}</small>
        </div>
      </div>
      <div>
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-white dark:text-white"
          >Your password</label
        >
        <input
          type="password"
          name="password"
          id="password"
          placeholder="••••••••"
          formControlName="password"
          class="border text-gray-900 text-sm rounded-lg focus:ring-2 focus:ring-customRed focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          required
        />
        <div
          *ngIf="
            myForm.get('password')?.invalid && myForm.get('password')?.touched
          "
          class="text-red-600 font-bold"
        >
          <small *ngIf="myForm.get('password')?.errors?.['required']"
            >Password is required.</small
          >
          <small *ngIf="myForm.get('password')?.errors?.['minlength']"
            >Minimum length is 6.</small
          >
        </div>
        <div *ngIf="incorrectPassword" class="text-red-600 font-bold">
          <small>{{ incorrectPassword }}</small>
        </div>
      </div>
      <div class="flex items-start">
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <input
              id="remember"
              type="checkbox"
              value=""
              class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-customRed dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
              required
            />
          </div>
          <label
            for="remember"
            class="ms-2 text-sm font-medium text-white dark:text-gray-300"
            >Remember me</label
          >
        </div>
        <a
          routerLink="/reset-password"
          class="ms-auto text-sm text-customRed hover:underline dark:text-blue-500"
          >Lost Password?</a
        >
      </div>
      <app-button
        label="Login to your account"
        type="submit"
        customClass="w-full border border-customRed text-white bg-customPurple hover:bg-customRed focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-customRed dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      ></app-button>

      <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
        Not registered?
        <a
          routerLink="/register"
          class="text-customRed hover:underline dark:text-blue-500"
          >Create account</a
        >
      </div>
    </form>
  </div>
</div>
