<div class="flex flex-col bg-customPurple mt-28">

<div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
    <table class="w-full text-sm text-left rtl:text-right text-white dark:text-gray-400 border border-customRed">
        <thead class="text-xs text-white uppercase bg-transparent dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th *ngFor="let column of columns" scope="col" class="px-6 py-3">
              {{ column.header }}
            </th>
            <th scope="col" class="px-6 py-3"></th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data" class="bg-transparent dark:bg-gray-800 dark:border-gray-700 ">
            <td *ngFor="let column of columns" class="px-6 py-4">
              {{ row[column.field] }}                       
            </td>
            <td class="px-6 py-4 text-right">
             
              <button  (click)="deletePassword(row._id)" class="font-medium text-customRed hover:underline"> Delete </button>
            </td>
          </tr>
        </tbody>
      </table>
      
</div>

</div>

