<div
  class="flex-grow flex items-center justify-center min-h-screen bg-customPurple"
>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()" class="max-w-md mx-auto">
    <div class="relative z-0 w-full mb-5 group">
      <input
        type="email"
        name="email"
        id="floating_email"
        formControlName="email"
        class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-customRed appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_email"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Email address</label
      >
      <div
        *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched"
        class="text-red-600 font-bold"
      >
        <small *ngIf="myForm.get('email')?.errors?.['required']"
          >Email is required.</small
        >
        <small *ngIf="myForm.get('email')?.errors?.['email']"
          >Invalid email format.</small
        >
      </div>
      <div *ngIf="errorEmail" class="text-red-600 font-bold">
        <small>{{ errorEmail }}</small>
      </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input
        type="password"
        name="password"
        id="floating_password"
        formControlName="password"
        class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-customRed appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_password"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Password</label
      >
      <div
        *ngIf="
          myForm.get('password')?.invalid && myForm.get('password')?.touched
        "
        class="text-red-600 font-bold"
      >
        <small *ngIf="myForm.get('password')?.errors?.['required']"
          >Password is required.</small
        >
        <small *ngIf="myForm.get('password')?.errors?.['minlength']"
          >Minimum length is 6.</small
        >
      </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input
        type="password"
        name="rpassword"
        id="floating_repeat_password"
        formControlName="rpassword"
        class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-customRed appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_repeat_password"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Confirm password</label
      >
      <div
        *ngIf="
          myForm.get('rpassword')?.invalid && myForm.get('rpassword')?.touched
        "
        class="text-red-600 font-bold"
      >
        <small *ngIf="myForm.get('rpassword')?.errors?.['required']"
          >Confirmation password is required.</small
        >
        <small *ngIf="myForm.get('rpassword')?.errors?.['minlength']"
          >Minimum length is 6.</small
        >
      </div>
      <div *ngIf="errorMessage" class="text-red-600 font-bold">
        <small>{{ errorMessage }}</small>
      </div>
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="text"
          name="fname"
          id="floating_first_name"
          formControlName="fname"
          class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-customRed appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="floating_first_name"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >First name</label
        >
        <div
          *ngIf="myForm.get('fname')?.invalid && myForm.get('fname')?.touched"
          class="text-red-600 font-bold"
        >
          <small *ngIf="myForm.get('fname')?.errors?.['required']"
            >First name is required.</small
          >
        </div>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="text"
          name="lname"
          id="floating_last_name"
          formControlName="lname"
          class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-customRed appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="floating_last_name"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Last name</label
        >
        <div
          *ngIf="myForm.get('lname')?.invalid && myForm.get('lname')?.touched"
          class="text-red-600 font-bold"
        >
          <small *ngIf="myForm.get('lname')?.errors?.['required']"
            >Last name is required.</small
          >
        </div>
      </div>
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="tel"
          pattern=""
          name="phone"
          formControlName="phone"
          id="floating_phone"
          class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-customRed appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="floating_phone"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Phone number
        </label>
        <div
          *ngIf="myForm.get('phone')?.invalid && myForm.get('phone')?.touched"
          class="text-red-600 font-bold"
        >
          <small *ngIf="myForm.get('phone')?.errors?.['required']"
            >Phone number is required.</small
          >
        </div>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="text"
          name="address"
          id="floating_address"
          formControlName="address"
          class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-customRed appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="floating_address"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Address</label
        >
        <div
          *ngIf="
            myForm.get('address')?.invalid && myForm.get('address')?.touched
          "
          class="text-red-600 font-bold"
        >
          <small *ngIf="myForm.get('address')?.errors?.['required']"
            >Address is required.</small
          >
        </div>
      </div>
    </div>
    <app-button
      type="submit"
      label="Submit"
      customClass="text-white border border-customRed bg-customPurple hover:bg-customRed focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    ></app-button>
  </form>
</div>
